%script{src: "//maps.google.com/maps/api/js?v=3.22&libraries=geometry&language=&hl=&region="}
%script{src:"//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
%script{src:'//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js'}

= render "page_title", title_text: "Farms Near Me"

.farmsContainer
  %aside
    #farmList
      - @nearby_farms.each do |farm|
        .farmListItem{id: "farm_#{farm.id}", class: "card"}
          .card-content
            .card-title{class: "farmName"} #{farm.name}
            .field
              Address: #{farm.full_address.gsub(",", " ")}
            .field
              Distance(miles): #{farm.distance}


  %section
    .mapContainer
      #map

:javascript
  initMap();
