%h1  My Items

%a{href: new_item_path} Add an Item

.inventoryContainer
  - @items.each do |item|
    .item{id: "item_#{item.id}"}
      .itemName
        = item.name
      .itemPrice
        = item.price
        each
      .itemQuantity
        Quantity:
        = item.quantity
      .itemDistance
        / TODO: Populate after geocoder setup
      = link_to "Edit", edit_item_path(id: item.id), class: "editItemButton"
      = link_to "Delete", "/items/#{item.id}", method: :delete, class: "deleteItemButton"

