
%ul{id: "nav-mobile", class: "right hide-on-small-and-down"}
  %li #{link_to "Home", restaurant_root_path, {"data-no-turbolink": true}}
  %li #{link_to "Profile", edit_restaurant_registration_path}
  %li #{link_to "Orders", orders_path}
  %li #{link_to "Sign Out", destroy_restaurant_session_path, method: :delete}
  %li #{link_to "Farms near me", map_path, { "data-no-turbolink": true, class: "map_pathwaves-effect waves-light btn deep-orange darken-1"}}
  %li{id: "basketItem"}
    #basketContainer
      %a{href: baskets_path, "data-no-turbolink": true}
        %i{id: "basket", class: "material-icons"} shopping_cart

    #basketCountContainer
      %span{id: "basketCount"}

%span{id: "basketNotify"} Item added to basket.