!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FarmFresh
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert

    %nav
      -if farm_signed_in?
        = link_to "Sign Out", destroy_farm_session_path, method: :delete
      -elsif restaurant_signed_in?
        = link_to "Sign Out", destroy_restaurant_session_path, method: :delete
        = link_to image_tag("https://s3-eu-west-1.amazonaws.com/kpfarmfresh/basket.png", {widtd: 32, height: 32}), baskets_path
      -else
        = link_to "Restaurant Sign In", new_restaurant_session_path
        = link_to "Farm Sign In", new_farm_session_path


    = yield

    %footer
