!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FarmFresh
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{"ng-app": "Catalog"}
    %p.notice= notice
    %p.alert= alert

    %nav
      .nav-wrapper
        %a{class: "brand-logo", href: "/", "data-no-turbolink": true} Farm Fresh
        /=  %img{src: "https://s3-eu-west-1.amazonaws.com/kpfarmfresh/logo.png", height: "48px", width: "32px"}
        -if farm_signed_in?
          = render "farm_menu"
        -elsif restaurant_signed_in?
          = render "restaurant_menu"
        -else
          = render "guest_menu"

    .container
      = yield

    %footer
